body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

input, select, button {
    margin: 5px;
    padding: 8px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}
